.postItem {
	width: 339px;
	height: 234px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 8px;
	cursor: pointer;
}

.titleBlock {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.textBlock {
	-webkit-line-clamp: 10;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-height: 149px;
}
